.imageContainer{
   span, img {
      position: unset !important;
      height: 100% !important;
   }
}

.customImg {
   object-fit: contain;
   width: 100% !important;
   height: 100% !important;
   position: relative !important;
   height: unset !important;
 }
 