.wrapper{
   display: flex;
   justify-content: space-between;
   min-width: 200px;
   min-height: 200px;

   select{
      width: 60px;
      background-color: initial;
      border: none;
      text-align: right;
   }

   .secondTime{
      text-align: left;
   }
}