.flag div{
   min-height: inherit;
   max-width:280px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: transparent;
   box-shadow:none;
   margin: 0;
}

.flag{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position:fixed;
   top: var(--def_margin);
   right: var(--def_margin);
   z-index: 5;
   font-size:11pt;
   padding: var(--def_padding);
   border-radius: var(--def_borderRadius)
}

._flag-error{
   background-color: var(--bad);
}

._flag-success{
   background-color: var(--good);

}
._flag-warning{
   background-color: var(--warning);
}
._flag-information{
   background-color: var(--neutral);
}