.flag div{
   min-height: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.flag{
   margin:auto;
   position:fixed;
   top: var(--def_margin);
   right: var(--def_margin);
   z-index: 5;
   width:300px;
   font-size:11pt;
}

._flag-error div{
   border: 1px solid var(--bad);
}

._flag-success div{
   border: 1px solid var(--good);

}
._flag-warning div{
   border: 1px solid var(--warning);
}
._flag-information div{
   border: 1px solid var(--neutral);
}