.flag div{
   min-height: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: transparent !important;
   margin:auto;
   box-shadow: none;
}

.flag{
   margin:auto;
   position:fixed;
   bottom: var(--def_margin);
   z-index: 5;
   width: 100%;
   display: flex;
}

._flag-error{
   background-color: var(--bad);
}

._flag-success{
   background-color: var(--good);

}
._flag-warning{
   background-color: var(--warning);
}
._flag-information{
   background-color: var(--neutral);
}