.loadingScreen{
   position: absolute;
   z-index: 5;
   top:0;
   left:0;
   width: 100%;
   height: 100vh;
   background-color: #fff;
   animation: fadein 0.8s ease-in-out 0s infinite alternate ;
}


@keyframes fadein {
   from {opacity:0;}
   to {opaciy:1;}
}
