.sticky{
   position:sticky;
   top:0;
   z-index: 5;
}
.nav{
   min-height: 30px;
   display: flex;
   align-items: center;

   ul{
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: var(--def_margin);

      li{
         margin-left: 20px;

         a{
            color: black;
            font-weight: bold;
         }
         a:hover{
            text-decoration: none;
         }
      }
   }
}
.Beelogo{
   margin-left: var(--def_margin);
}
.activeLink{
   text-decoration: underline;
}